body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:black;
    
}
nav {
    background-color: #333;
    color: #fff;
    padding: 20px 40px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}